body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-shadow: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

form {
    background-color: rgb(179, 206, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(184, 214, 12);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    background-color: chartreuse;
    margin-top: 20px;
    padding: 10px;
}

#username {
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    background-color: rgb(243, 246, 241);
    padding: 10px;
}

#password {
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    background-color: rgb(238, 243, 233);
    padding: 10px;
}