*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*navbar*/

.navbar-doc {
    width: 100%;
    height: auto ;
}

.navbar-doc .nav-contact {
    display: flex;
    padding-right:5px ;
    justify-content: flex-end;
    background-color: aqua;
    width: 100%;
    height: 21px;
    color: white;
}

.navbar-doc .nav-contact p {
    font-size: 16px;
    font-weight: 400;
}

.navbar-doc .nav-header {
    width: 100%;
    height: 60px;
    /* position: fixed; */
    /* background-color: blueviolet; */
    /* z-index: 999999; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-doc .nav-header .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px ;
    margin-left: -300px;
}

.nav-header .title h3 {
    color: aqua;
    font-size: 30px;
    font-weight: 400;
}

.nav-header .title p {
    font-size: 30px;
}

.nav-header ul {
    width: 400px;
    justify-content: space-evenly;
    display: flex;
}

.nav-header ul li {
    list-style: none;
}

.image-banner {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

.image-banner img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.image-banner .text-on-image {
    position: absolute;
    top: 0;
    min-width: 70%;
    display: flex;
    width: 1000px;
    height: 350px;
    color: white;
    font-size: 30px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.box-note {
    margin-top: 30px;
    width: 100%;
    min-height: 250px;
    padding: 0px 10% ;
}

.box-note p {
    line-height: 30px;
    font-size: 13pt;
}

.box-note h3 {
    font-size: 19pt;
}

.body-note {
    padding-top: 10px;
}

.body-note-param {
    padding: 10px 0 0 50px ;
}

.box_input {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: 30px;
    width: 100%;
    min-height: 250px;
    padding: 0px 10% ;
}

.form-group {
    margin-left: 15px; /* hoặc sử dụng margin-right nếu bạn muốn tạo khoảng cách giữa các phần tử */
}

label {
    margin-bottom: 5px;
}
.box_input h3{
    top: 100%;

}
.title_form{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 10px;
    font-size: larger;
}

